<h1>Protery List</h1>
<%= link_to 'New Property', new_house_path %>
<table>
  <tr>
    <th>Property</th>
    <th>Rent</th>
    <th>Address</th>
    <th>Building Age</th>
    <th>Remarks</th>
  </tr>
<% @houses.each do |house| %>
  <tr>
    <td><%= house.house_name%></td>
    <td><%= house.fee%></td>
    <td><%= house.address%></td>
    <td><%= house.built_year%></td>
    <td><%= house.note%></td>
    <td>
    <%= link_to 'Show', house_path(house.id) %>
    <%= link_to 'Edit', edit_house_path(house.id), data: {confirm: "Confirm Edit!"} %>
    <%= link_to 'Delete', house_path(house.id), method: :delete, data: {confirm: "Confirm Delete!"} %>
    </td>
  </tr>
<% end %>
</table>
