<h1>Houses#index</h1>
<% @houses.each do |house| %>
    <%= house.house_name%>
    <%= house.fee%>
    <%= house.address%>
    <%= house.built_year%>
    <%= house.note%>
    <%= link_to 'Show', house_path(house.id) %>
    <br>
  <% end %>
