<h1>Propery Detail</h1>
<%= @house.house_name%><br>
<%= @house.fee%><br>
<%= @house.address%><br>
<%= @house.built_year%><br>
<%= @house.note%><br>
<%= @station.station_name %><br>
<%= @station.line_name %><br>
<%= @station.walking_time %><br>
<%= @station.station_name %><br>
<%= @station.line_name2 %><br>
<%= @station.walking_time2 %><br>
<%= @station.station_name3 %><br>
<%= @station.line_name3 %><br>
<%= @station.walking_time3 %><br>
